<fieldset>
    <legend [my-highlight]="color"  [defaultColor]="'violet'">Pick a highlight color</legend>
    <input type="radio" name="colors" (click)="color='lightgreen'"> Green
    <input type="radio" name="colors" (click)="color='yellow'"> Yellow
    <input type="radio" name="colors" (click)="color='blue'"> blue
    <br/>

    <label [style.background]="'lime'">Hero first name:</label> <input #heroFirstName />
    <label my-highlight="cyan">Hero last name:</label> <input #heroLastName />
    <button (click)="add(heroFirstName.value, heroLastName.value); heroFirstName.value=''; heroLastName.value=''">
        Add
    </button>
</fieldset>

<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)" >
        <span class="badge">{{hero.id}}</span> {{hero.firstName}} {{hero.lastName}}

        <button class="delete"
                (click)="delete(hero); $event.stopPropagation()">x</button>
    </li>
</ul>

<tooltip-hero [hero]="selectedHero"></tooltip-hero>